.aqua {
    background-color: aqua;
    height: 500px;
    padding-top: 20px;

}

.azzurro {
    background-color: blue;
}

.smallsquare {
    height: calc(100%/10);
    width: calc(100%/10);
    list-style: none;
    border: 1px solid black;
    text-align: center;




}

#big-square {
    display: flex;
    flex-wrap: wrap;
}